@model List<User>
<h2>Друзья</h2>
<div>
    <ul class="list-group">
        @foreach (var friend in @Model)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-1">
                        <img src="@Url.Content(@friend.MainPhotoPath)"/>
                    </div>
                    <div class="col-md-5">
                        @Html.ActionLink(@friend.ToString(), "MainPage", new { userId = @friend.UserId })
                    </div>
                </div> 
            </li>
        }
    </ul>
</div>
